@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.VoitureIndex)]
@inject IVoitureService VoitureService
@inject ISemaineService SemaineService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle

@if (voitureViewModel == null)
{
    <div class="spinner"></div>
}
else
{
    <Confirm @ref="deleteConfirmation"
             ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Êtes-vous sûr de vouloir supprimer ce blanchiment ?")
             UnableMessage=@($"")>
    </Confirm>

    <RadzenDropDown Data="semaineViewModelList"
                    @bind-Value=@semaineViewModelSelected
                    AllowClear="true"
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    TextProperty="DisplayReferenceDesignation"
                    Placeholder="Semaine"
                    Change="SemaineChange">
    </RadzenDropDown>

    <MatButton Icon="add" Raised="true" Class="mb-3 float-right" @onclick="RedirectToCreate">Blanchiment</MatButton>

    <BlazorTable.Table class="table table-dark" TableHeadClass="thead-dark" TableItem="VoitureViewModel" Items="voitureViewModel" PageSize="12">
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Date" Field="@(x => x.Date)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="De" Field="@(x => x.From)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Argent sale" Field="@(x => x.ArgentSale)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Payé" Field="@(x => x.Paye)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Bénéfice" Field="@(x => x.Benefice)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="VoitureViewModel" Title="Actions" Width="10%">
            <Template Context="tableContext">
                <MatIconButton Class="matIconButton p-0" Style="width: 24px;height: 24px;" Icon="create" @onclick="@(() => RedirectToEdit(tableContext.Id))"></MatIconButton>
                <MatIconButton Class="matIconButton p-0" Style="width: 24px;height: 24px;" Icon="delete" @onclick="@(() => RedirectToDelete(tableContext))"></MatIconButton>
            </Template>
        </BlazorTable.Column>
        <BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" />
    </BlazorTable.Table>
}

@code {
    private VoitureViewModel[] voitureViewModel;
    private VoitureViewModel voitureViewModelDelete;

    private SemaineViewModel[] semaineViewModelList;
    private SemaineViewModel semaineViewModelSelected;

    private VoitureViewModel[] allVoitureViewModel;


    protected ConfirmBase deleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        voitureViewModelDelete = new VoitureViewModel();
        allVoitureViewModel = await VoitureService.GetAllAsync();
        allVoitureViewModel = allVoitureViewModel.OrderByDescending(v => v.Date).ToArray();
        voitureViewModel = allVoitureViewModel;
        semaineViewModelList = await SemaineService.GetAllAsync();
        semaineViewModelSelected = semaineViewModelList.Last();
        semaineViewModelList = semaineViewModelList.OrderByDescending(s => s.Num).ToArray();
        SemaineChange();
    }

    protected void RedirectToCreate()
    {
        NavManager.NavigateTo(ConstantsUrl.VoitureCreateOrEdit);
    }

    protected void RedirectToEdit(long id)
    {
        NavManager.NavigateTo(ConstantsUrl.VoitureCreateOrEdit + "/" + id);
    }

    protected async Task RedirectToDelete(VoitureViewModel viewModel)
    {
        voitureViewModelDelete = viewModel;
        bool canBeDeleted = await VoitureService.CanBeDeleted(viewModel.Id);
        if (canBeDeleted)
        {
            deleteConfirmation.Show();
        }
        else
        {
            deleteConfirmation.ShowUnableDelete();
        }
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await VoitureService.DeleteAsync(voitureViewModelDelete.Id);
            voitureViewModel = await VoitureService.GetAllAsync();
        }
    }

    private void SemaineChange()
    {
        if(semaineViewModelSelected == null)
        {
            voitureViewModel = allVoitureViewModel;
        }
        else
        {
            voitureViewModel = allVoitureViewModel.Where(t => t.SemaineViewModel.Id == semaineViewModelSelected.Id).ToArray();
        }
    }
}