@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.TransactionCreateOrEdit)]
@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.TransactionCreateOrEdit + "/{Id:long}")]

@inject ITransactionService TransactionService
@inject IPersonneService PersonneService
@inject IGroupeService GroupeService
@inject NavigationManager NavManager
@inject IJSRuntime jsRuntime
@inject NotifierTitleService NotifierTitle

<div class="box-create">
    <EditForm Model="@transactionViewModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">

                    <p>
                        <RadzenLabel Text="Date du blanchiment" Style="width:100%" />
                        <RadzenDatePicker DateFormat="" TValue="DateTime" Style="width:100%"
                                          @bind-Value=@transactionViewModel.Date
                                          Placeholder="Date du blanchiment" />
                        <ValidationMessage For="@(() => transactionViewModel.Date)" />
                    </p>
                    <p>
                        <MatTextField Label="Nombre de billet" @bind-Value="@transactionViewModel.NbBillet" FullWidth="true" />
                        <ValidationMessage For="@(() => transactionViewModel.NbBillet)" />
                    </p>
                    <p>
                        <MatTextField Label="Nombre de sac" @bind-Value="@transactionViewModel.NbSac" FullWidth="true" />
                        <ValidationMessage For="@(() => transactionViewModel.NbSac)" />
                    </p>
                    <p>
                        <MatTextField Label="Nombre de voiture" @bind-Value="@transactionViewModel.NbVoiture" FullWidth="true" />
                        <ValidationMessage For="@(() => transactionViewModel.NbVoiture)" />
                    </p>

                    <p>
                        <MatBlazor.MatCheckbox Label="Est une petite main" @bind-Value="@transactionViewModel.IsPetiteMain" Style="display: table-cell; vertical-align: middle;" FullWidth="true" />
                    </p>



                    <MatButton Class="save" Type="submit" Raised="true" Icon="done">Valider</MatButton>
                    <MatButton Class="cancel" Type="button" Outlined="true" OnClick="@Cancel" Icon="clear">Annuler</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @if (transactionViewModel.IsPetiteMain)
                    {
                        <p>
                            <div class="title-dropdown">Petite main</div>
                            <RadzenDropDown Data="personneViewModelList"
                                            @bind-Value=@transactionViewModel.PersonneViewModel
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            Style="width:100%"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            TextProperty="DisplayReferenceDesignation">
                            </RadzenDropDown>
                        </p>

                        @if (transactionViewModel.PersonneViewModel != null)
                        {
                            <p>
                                <MatTextField Label="Valeur billet (en %)" @bind-Value="@transactionViewModel.PersonneViewModel.TauxBlanchimentViewModel.ValeurBillet" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.PersonneViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurBillet)" />
                            </p>
                            <p>
                                <MatTextField Label="Valeur sac (en $)" @bind-Value="@transactionViewModel.PersonneViewModel.TauxBlanchimentViewModel.ValeurSac" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.PersonneViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurSac)" />
                            </p>
                            <p>
                                <MatTextField Label="Valeur voiture (en $)" @bind-Value="@transactionViewModel.PersonneViewModel.TauxBlanchimentViewModel.ValeurVoiture" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.PersonneViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurVoiture)" />
                            </p>
                        }

                    }
                    else
                    {
                        <p>
                            <div class="title-dropdown">Groupe</div>
                            <RadzenDropDown Data="groupeViewModelList"
                                            @bind-Value=@transactionViewModel.GroupeViewModel
                                            AllowClear="true"
                                            AllowFiltering="true"
                                            Style="width:100%"
                                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            TextProperty="DisplayReferenceDesignation">
                            </RadzenDropDown>
                        </p>

                        @if (transactionViewModel.GroupeViewModel != null)
                        {
                            <p>
                                <MatTextField Label="Valeur billet (en %)" @bind-Value="@transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurBillet" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurBillet)" />
                            </p>
                            <p>
                                <MatTextField Label="Valeur sac (en $)" @bind-Value="@transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurSac" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurSac)" />
                            </p>
                            <p>
                                <MatTextField Label="Valeur voiture (en $)" @bind-Value="@transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurVoiture" FullWidth="true" />
                                <ValidationMessage For="@(() => transactionViewModel.GroupeViewModel.TauxBlanchimentViewModel.ValeurVoiture)" />
                            </p>
                        }

                    }
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                    @if (transactionViewModel.GroupeViewModel != null)
                    {
                        <p>
                            <MatTextField Label="Valeur billet" @bind-Value="@transactionViewModel.GroupePayerBillet" FullWidth="true" />
                        </p>
                        <p>
                            <MatTextField Label="Valeur sac" @bind-Value="@transactionViewModel.GroupePayerSac" FullWidth="true" />
                        </p>
                        <p>
                            <MatTextField Label="Valeur voiture" @bind-Value="@transactionViewModel.GroupePayerVoiture" FullWidth="true" />
                        </p>
                        <p>
                            <MatTextField Label="Total" @bind-Value="@transactionViewModel.GroupeTotal" FullWidth="true" />
                        </p>
                    }
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public long Id { get; set; }


    private TransactionViewModel transactionViewModel = new TransactionViewModel();

    private List<GroupeViewModel> groupeViewModelList = new List<GroupeViewModel>();
    private List<PersonneViewModel> personneViewModelList = new List<PersonneViewModel>();

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionCreateOrEdit);

        if (Id > 0)
        {
            transactionViewModel = await TransactionService.GetAsync(Id);
        }

        groupeViewModelList = (await GroupeService.GetAllWithTauxAsync()).ToList();
        personneViewModelList = (await PersonneService.GetAllWithTauxAsync()).ToList();
    }


    private void HandleValidSubmit()
    {
        Task.Run(async () => await TransactionService.AddOrUpdateAsync(transactionViewModel)).Wait();
         
        NavManager.NavigateTo(ConstantsUrl.TransactionIndex);

    }

    public void Cancel()
    {
        NavManager.NavigateTo(ConstantsUrl.TransactionIndex);
    }
}
