@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.TransactionIndex)]
@inject ITransactionService TransactionService
@inject ISemaineService SemaineService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle

@if (transactionViewModel == null)
{
    <div class="spinner"></div>
}
else
{
    <Confirm @ref="deleteConfirmation"
             ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Êtes-vous sûr de vouloir supprimer le Transaction de \"{transactionViewModelDelete}\" ?")
             UnableMessage=@($"")>
    </Confirm>

    <RadzenDropDown Data="semaineViewModelList"
                    @bind-Value=@semaineViewModelSelected
                    AllowClear="true"
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    TextProperty="DisplayReferenceDesignation"
                    Change="SemaineChange">
    </RadzenDropDown>

    <MatButton Icon="add" Raised="true" Class="mb-3 float-right" @onclick="RedirectToCreate">Blanchiment</MatButton>
    <MatButton Icon="add" Raised="true" Class="mb-3 mr-3 float-right" @onclick="RedirectToCreate">Achat/Vente</MatButton>

    <BlazorTable.Table class="table table-light" TableItem="TransactionViewModel" Items="transactionViewModel" PageSize="15">
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Date" Field="@(x => x.Date)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="TransactionViewModel" Title="De" Field="@(x => x.From)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Argent sale" Field="@(x => x.ArgentSale)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Payé" Field="@(x => x.Paye)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Bénéfice" Field="@(x => x.Benefice)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="TransactionViewModel" Title="Actions" Width="10%">
            <Template Context="tableContext">
                <MatIconButton Class="matIconButton p-0" Style="width: 24px;height: 24px;" Icon="create" @onclick="@(() => RedirectToEdit(tableContext.Id))"></MatIconButton>
            </Template>
        </BlazorTable.Column>
        <BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" />
    </BlazorTable.Table>
}

@code {
    private TransactionViewModel[] transactionViewModel;
    private TransactionViewModel transactionViewModelDelete;

    private SemaineViewModel[] semaineViewModelList;
    private SemaineViewModel semaineViewModelSelected;

    private TransactionViewModel[] allTransactionViewModel;


    protected ConfirmBase deleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        transactionViewModelDelete = new TransactionViewModel();
        allTransactionViewModel = await TransactionService.GetAllAsync();
        transactionViewModel = allTransactionViewModel;
        semaineViewModelList = await SemaineService.GetAllAsync();
    }

    protected void RedirectToCreate()
    {
        NavManager.NavigateTo(ConstantsUrl.TransactionCreateOrEdit);
    }

    protected void RedirectToEdit(long id)
    {
        NavManager.NavigateTo(ConstantsUrl.TransactionCreateOrEdit + "/" + id);
    }

    protected async Task RedirectToDelete(TransactionViewModel viewModel)
    {
        transactionViewModelDelete = viewModel;
        bool canBeDeleted = await TransactionService.CanBeDeleted(viewModel.Id);
        if (canBeDeleted)
        {
            deleteConfirmation.Show();
        }
        else
        {
            deleteConfirmation.ShowUnableDelete();
        }
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await TransactionService.DeleteAsync(transactionViewModelDelete.Id);
            transactionViewModel = await TransactionService.GetAllAsync();
        }
    }

    private async Task SemaineChange()
    {
        if(semaineViewModelSelected == null)
        {
            transactionViewModel = allTransactionViewModel;
        }
        else
        {
            transactionViewModel = allTransactionViewModel.Where(t => t.SemaineViewModel.Id == semaineViewModelSelected.Id).ToArray();
        }
    }
}